body {
    background-color: rgba(153, 50, 204, 0.817);
    text-align: center;
}

p {
    font-size: 32px;
}

.unicornio {
    font-style: italic;
    color: aqua;
}

.img1 {
    width: 50%;
}

nav a:hover {
    color: rgb(235, 10, 141);
    text-decoration: underline;
}
