body {
    background-color: rgba(153, 50, 204, 0.817);
    text-align: center;
}

header {
    border-bottom: solid 2px rgb(42, 122, 228);
    padding: 20px;
    font-size: 32px;
}

.unicornio {
    font-style: italic;
    color: aqua;
}

.img1 {
    width: 50%;
}

