body {
    background-color: rgba(153, 50, 204, 0.817);
    margin: 0px
}

.cabecalho {
   margin-top: 5px;
    padding: 2px;
    font-size: 20px;
    text-decoration: none;
    color:rgba(204, 168, 238, 0.192);
    display: flex;
    justify-content: center;
}
h1 {
    color: darkturquoise;
}
.unicornio {
    font-style: italic;
}

.img1 {
    width: 50%;
}

.centro {
    text-align: center;
}
